@font-face {
   font-family: 'Archivo Expanded Bold';
   font-display: swap;
   src: url('file:///Users/rodrigo/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2024-10-04_165354/fonts/Archivo%20Expanded%20Bold/font.ttf');
}
